@page "/"
@attribute [Authorize]

@inject ITaskService taskService
@inject IToastService toast

<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <div class="row d-flex pt-3">
                <h1>Your tasks</h1>
                <button class="btn btn-app bg-purple h-auto">
                    <i class="oi oi-plus"></i>
                    Nueva
                </button>
            </div>
            @if (tasks != null) {
                <div class="row d-block">
                    @foreach (var task in tasks) {
                        <div class="task">
                            <input type="checkbox" name="done" checked="@(task.State == TaskState.Done ? true : false)">
                            <span>@task.Name</span>
                        </div>
                    }
                </div>
            }
        </div>
    </Authorized>
</AuthorizeView>



@code{

    List<UserTaskDetails> tasks;

    override protected async Task OnInitializedAsync() {

        var response = await taskService.GetUserTasks();
        if (response.IsSuccess) {
            tasks = response.Record;
        } else {
            toast.ShowError(response.Message);
        }
    }

}