@page "/"
@attribute [Authorize]

@inject IAccountService _accountService
@inject Appstate appState

<AuthorizeView>
    <Authorized>
        <div>

            <h1>Your Dashboard - Your Claims</h1>
            <div>
                @if (Principal != null) {
                    @foreach (var claim in Principal.Claims) {
                        <div>@claim.Type - @claim.Value</div>
                    }
                }
            </div>
            <div>
                <button type="button" class="btn btn-primary" @onclick="Logout">Logout</button>
            </div>

        </div>
    </Authorized>
</AuthorizeView>



@code{

    ClaimsPrincipal Principal;

    override protected async Task OnInitializedAsync() {
        Principal = await appState.PrincipalAsync;
    }

    private async void Logout() {
        try {
            await _accountService.LogoutAsync();
        } catch (Exception e) {

            Console.WriteLine(e.Message);
        }
    }
}