<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
        <NavLink href="" class="nav-link" Match="NavLinkMatch.All">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Home
                <span class="right badge badge-danger">New</span>
            </p>
        </NavLink>
    </li>
    @*Registros*@
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link @(RegistrosOpen ? "active" : null)" @onclick="SwitchRegistros">
            <i class="nav-icon oi oi-pencil"></i>
            <p>
                Registros
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview @(RegistrosOpen ? "d-block" : "d-none")">
            <li class="nav-item">
                <NavLink href="registro-clientes" class="nav-link">
                    <i class="oi oi-person nav-icon"></i>
                    <p>Clientes</p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="registro-rentas" class="nav-link">
                    <i class="fa fa-money-check nav-icon"></i>
                    <p>Rentas</p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="registro-vehiculo" class="nav-link">
                    <i class="fa fa-car nav-icon"></i>
                    <p>Vehiculos</p>
                </NavLink>

            </li>
            <li class="nav-item">
                <NavLink href="registro-ventas" class="nav-link">
                    <i class="oi oi-dollar nav-icon"></i>
                    <p>Ventas</p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="registro-cobros" class="nav-link">
                    <i class="fa fa-money-bill nav-icon"></i>
                    <p>Cobros</p>
                </NavLink>
            </li>
        </ul>
    </li>

</ul>

@code{

    public void SwitchRegistros() {
        RegistrosOpen = !RegistrosOpen; 
    }

    public bool RegistrosOpen { get; set; }
}